<pi-section-title>
</pi-section-title>

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<pi-pizza-filter></pi-pizza-filter>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="section-catalog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <pi-pizza-list
          [pizzas]="pizzas"
          (addedPizzaVariant)="onAddPizza($event)"

        ></pi-pizza-list>

        <ul class="pagination">
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">1</a></li>
          <li class="active"><a href="javascript:void(0);">2</a></li>
          <li><a href="javascript:void(0);">3</a></li>
          <li><a href="javascript:void(0);">4</a></li>
          <li><a href="javascript:void(0);">5</a></li>
          <li><a href="javascript:void(0);"></a></li>
        </ul>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<pi-footer></pi-footer>
