<div class="filter clearfix">
  <span class="filter__btn collapsed" data-toggle="collapse" data-target="#filter-categories" aria-expanded="false"><i class="icon fa fa-bars"></i>filter</span>
  <span class="filter__info">Showing 1–12 of 19 results</span>
  <span class="filter__wrap-select">
										<select class="selectpicker bs-select-hidden" data-style="filter__select" data-width="200px">
											<option>DEFAILT SORTING</option>
											<option>A-Z</option>
											<option>Z-A</option>
										</select><div class="btn-group bootstrap-select" style="width: 200px;"><button type="button" class="btn dropdown-toggle filter__select" data-toggle="dropdown" title="DEFAILT SORTING" aria-expanded="false"><span class="filter-option pull-left">DEFAILT SORTING</span>&nbsp;<span class="ui-select__icon"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">DEFAILT SORTING</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1" class=""><a tabindex="0" class="" style="" data-tokens="null"><span class="text">A-Z</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2" class=""><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Z-A</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
									</span>
</div>
