<div class="pizza-builder__item">
  <div class="pizza-builder__check-img pizza-builder__check-img pizza-builder__check-img_mod-a">
    <img class="img-responsive center-block" [src]="pizza.images[0]"ß alt="Foto">
  </div>
  <div class="pizza-builder__check-name">{{pizza.name}}</div>
  <div class="pizza-builder__check-description pizza-builder__check-description_mod-a">{{ingredientsList()}}</div>
  <div class="pizza-builder__check-price pizza-builder__check-price_mod-a">${{selectedVariant?.price}}</div>

  <div class="controls">
    <div ngbDropdown class="d-inline-block">
      <button class="dropdown-toggle"
              id="dropdownBasic1"
              ngbDropdownToggle>
        {{selectedVariant.name}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let variant of pizza.variants"
          (click)="selectVariant(variant)"
          class="dropdown-item">
          {{variant.name}}
        </button>
      </div>
    </div>

    <button
      class="ui-btn ui-btn--primary ui-btn--effect add-button"
      type="button"
      (click)="onAdd()"
    >Add</button>
  </div>
</div>
