<div class="pizza-builder__item pizza-builder__item_mod-b">
  <div class="pizza-builder__check-img pizza-builder__check-img pizza-builder__check-img_mod-a">
    <img class="img-responsive center-block" [src]="pizza.images[0]"ß alt="Foto">
  </div>
  <div class="pizza-builder__check-name">{{pizza.name}}</div>
  <div class="pizza-builder__check-description pizza-builder__check-description_mod-a">{{ingredientsList()}}</div>
  <div class="pizza-builder__check-price pizza-builder__check-price_mod-a">From {{getLowestPrice() | currency}}</div>
  <select class="selectpicker bs-select-hidden" data-style="ui-select">
    <option *ngFor="let variant of pizza.variants">{{variant.name}} ({{variant.price}})</option>
  </select>
  <a class="pizza-builder__btn-select ui-btn ui-btn-primary btn-effect" href="javascript:void(0);">add</a>
</div>
