.ui-btn {
  display: inline-block;
  padding: 10px 39px;
  font-size: 14px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s;
  text-transform: uppercase;
  background: none;
  cursor: pointer;

  &:after {
    background-color: #D94F2B;
  }
}
.ui-btn:hover {
  color: inherit;
  text-decoration: none;
}
.ui-btn--primary {
  color: #000;
  background: #fdbc2c;
  border-color: #fdbc2c;
}

//.ui-btn_mod-b {
//  font-weight: 400;
//  color: #fff;
//  border-width: 1px;
//}
//.ui-btn_mod-c {
//  border-color: #000;
//  background-color: #000;
//}
//.ui-btn_mod-d {
//  padding-top: 8px;
//  padding-bottom: 9px;
//  font-size: 18px;
//  border-width: 4px;
//}
//.ui-btn_with_icon {
//  padding-right: 30px;
//  padding-left: 30px;
//}
//.ui-btn_with_icon .icon {
//  margin-right: 10px;
//  font-size: 18px;
//}
//.group-btn-ui {
//  margin-top: 20px;
//}
//.group-btn-ui .ui-btn:last-child {
//  margin-bottom: 0;
//}

.btn-effect {
  position: relative;
  margin-right: 1px;
  overflow: hidden;
  z-index: 1;
}
.btn-effect:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 50%;
  opacity: 0;
  z-index: -1;
  content: '';
  transition: all 0.5s ease 0.2s;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-effect:hover:after {
  height: 580%;
  opacity: 1;
}

