/* You can add global styles to this file, and also import other style files */

body {
  background: url("./assets/img/pattern-body.jpg") #000 50% 0;
  color: #fff;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
