<pi-section-title
  [title]="'Checkout'">
</pi-section-title>

<div class="section_mod-f">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form class="form-details">
          <section class="section-area">
            <h2 class="ui-title-inner ui-title-inner_mod-a">Order Details</h2>

            <label class="ui-form-label">NAME *</label>
            <input class="form-control" type="text">

            <label class="ui-form-label">EMAIL ADDRESS *</label>
            <input class="form-control" type="text">

            <label class="ui-form-label">PHONE *</label>
            <input class="form-control" type="text">

            <label class="ui-form-label">ADDRESS *</label>
            <input class="form-control" placeholder="Street address">
            <input class="form-control" placeholder="Apartment, suite, unit etc. (optional)">


            <label class="ui-form-label">ORDER NOTES</label>
            <textarea class="form-control" name="comment" rows="4"
                      placeholder="Notes about your order , e.g. special notes for delivery." required=""></textarea>
          </section>
          <!-- end section -->
        </form>
      </div>
      <!-- end col -->

      <div class="col-md-4">
        <div class="section-table-order section-table-order_mod-a">
          <section class="section-area">
            <h2 class="table-order__title ui-title-inner">Your Order</h2>

            <div *ngIf="cartState.itemsCount === 0">
              Nothing to order, <a class="color_primary" routerLink="/pizzas">choose</a> something first!
            </div>

            <div *ngIf="cartState.itemsCount > 0">
              <table class="table-order">
                <thead>
                <tr>
                  <th>PRODUCT</th>
                  <th>TOTAL</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let i of cartState.items">
                  <td class="no-br">{{i.pizza.name}} ({{i.pizzaVariant.name}})<span class="color_primary"> x {{i.quantity}}</span>
                  </td>
                  <td>
                    <span class="table-order__price">${{i.totalPrice}}</span>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td class="table-order__total">Order Total</td>
                  <td class="table-order__total">${{cartState.itemsPrice}}</td>
                </tr>
                </tfoot>
              </table>

              <button class="ui-btn ui-btn--primary ui-btn--effect ui-btn--full-width">place order</button>
            </div>
          </section>
          <!-- end section-area -->
        </div>
        <!-- end section-table-order -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<pi-footer></pi-footer>
