<aside class="section-list-cart">
  <h2 class="ui-title-inner">Cart Totals</h2>
  <ul class="list-cart list-unstyled">
    <li class="list-cart__item">
      <div class="list-cart__img"><i class="list-cart__icon icon fa fa-times js-del"></i><img class="img-responsive"
                                                                                              src="assets/media/list-cart/1.png"
                                                                                              height="87" width="87"
                                                                                              alt="Foto"></div>
      <div class="list-cart__inner">
        <h3 class="list-cart__title">Moorish Lamb</h3>
        <div class="list-cart__size"><span class="list-cart__size_name">Size:</span> Large</div>
        <div class="list-cart__price"><span class="color_primary">1 x</span> $19.00</div>
      </div>
    </li>
    <li class="list-cart__item">
      <div class="list-cart__img"><i class="list-cart__icon icon fa fa-times js-del"></i><img class="img-responsive"
                                                                                              src="assets/media/list-cart/2.png"
                                                                                              height="87" width="87"
                                                                                              alt="Foto"></div>
      <div class="list-cart__inner">
        <h3 class="list-cart__title">Vegetarian Supreme</h3>
        <div class="list-cart__size"><span class="list-cart__size_name">Size:</span> Jumbo</div>
        <div class="list-cart__price"><span class="color_primary">1 x</span> $34.00</div>
      </div>
    </li>
    <li class="list-cart__item">
      <div class="list-cart__img"><i class="list-cart__icon icon fa fa-times js-del"></i><img class="img-responsive"
                                                                                              src="assets/media/list-cart/3.png"
                                                                                              height="87" width="87"
                                                                                              alt="Foto"></div>
      <div class="list-cart__inner">
        <h3 class="list-cart__title">Spiced Pumpkin</h3>
        <div class="list-cart__size"><span class="list-cart__size_name">Size:</span> Small</div>
        <div class="list-cart__price"><span class="color_primary">1 x</span> $26.00</div>
      </div>
    </li>
  </ul>
  <div class="total-price clearfix">
    Order Total
    <span class="total-price__number">$79.00</span>
  </div>

  <button class="ui-btn ui-btn--mod-a ui-btn--effect btn-block">view shopping cart</button>
  <button class="ui-btn ui-btn--primary ui-btn--effect btn-block">checkout</button>
</aside>
