<aside class="section-list-cart">
  <h2 class="ui-title-inner">Cart Totals</h2>
  <ul class="list-cart list-unstyled">
    <li class="list-cart__item" *ngFor="let i of cartState.items">
      <div class="list-cart__img">
        <i class="list-cart__icon icon fa fa-times js-del"
          (click)="removeItem(i)"></i>
        <img class="img-responsive"
             [src]="i.pizza.images[0]"
             height="87" width="87"
             alt="{{i.pizza.name}}">
      </div>
      <div class="list-cart__inner">
        <h3 class="list-cart__title">{{i.pizza.name}}</h3>
        <div class="list-cart__size">
          <span class="list-cart__size_name">Size:</span>
          {{i.pizzaVariant.name}}
        </div>
        <div class="list-cart__price"><span class="color_primary">{{i.quantity}} x</span> ${{i.pizzaVariant.price}}</div>
      </div>
    </li>
  </ul>

  <div class="total-price clearfix">
    Order Total
    <span class="total-price__number">${{cartState.itemsPrice}}</span>
  </div>

  <button class="ui-btn ui-btn--mod-a ui-btn--effect btn-block">view shopping cart</button>
  <button
    class="ui-btn ui-btn--primary ui-btn--effect btn-block"
    (click)="goTo('/checkout')"
  >checkout</button>
</aside>
