.header {
  position: relative;
  height: 90px;
  background-color: #151515;
  text-align: center;
}

.header__wrap {
  height: 90px;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.sb-toggle-left {
  float: left;
  cursor: pointer;
  color: #fefefe;
  font-size: 40px;
  width: 90px;
  height: 100%;
  background-color: #000;
  padding-top: 13px;
}

.header .logo {
  display: inline-block;
  padding-top: 22px;
}

.header-basket {
  float: right;
  width: 90px;
  height: 100%;
  cursor: pointer;
  padding-top: 23px;
  background-color: #fdbc2c;

  .fa {
    font-size: 40px;
  }
}


:host.sticky .header .header__wrap {
  left: 0;
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 0px 6px 0px #333;
  transition: all .3s;
  opacity: .7;
  background-color: #000;

  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;

  &:hover {
    opacity: 1;

  }
}
