.header {
  position: relative;
  height: 90px;
  background-color: #151515;
  text-align: center;
}

.header__wrap {
  height: 90px;
  width: 100%;
}

.sb-toggle-left {
  float: left;
  cursor: pointer;
  color: #fefefe;
  font-size: 40px;
  width: 90px;
  height: 100%;
  background-color: #000;
  padding-top: 13px;
}

.header .logo {
  display: inline-block;
  padding-top: 22px;
}

.header-basket {
  float: right;
  width: 90px;
  height: 100%;
  cursor: pointer;
  padding-top: 23px;
  background-color: #fdbc2c;

  .fa {
    font-size: 40px;
  }
}


