.cart__link-wrap {
  border-bottom: 4px solid #D94F2B;
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__link-prev {
  color: #fff;

  &:hover {
    color: #9c361c;
    text-decoration: none;
  }

  .icon {
    margin-right: 10px;
  }
}

.cart {
  padding-top: 70px;
}


.cart__title {
  margin-top: 0;
  font: 400 48px/1.25 'Abril Fatface';
  margin-bottom: 8px;
  color: #fdbc2c;
}

.rating {
  margin-bottom: 13px;
}

.rating-star {
  color: #D94F2B;
  margin-right: 3px;
}

.cart__description {
  margin-top: 30px;
  line-height: 1.7;
  font-size: 18px;
}

.cart__title-inner {
  margin-top: 32px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__price {
  margin-top: 30px;
  font: 36px 'Fredericka the Great';
  color: #D94F2B;
}
