.pizza-builder__item {
  position: relative;
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  padding-top: 18px;
  padding-right: 15px;
  padding-bottom: 23px;
  padding-left: 15px;
  color: #fff;
  vertical-align: top;
  border: 4px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
  padding-top: 23px;

  .controls {
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover {
    border-color: #fdbc2c;

    .controls {
      opacity: 1;
    }
  }
}

.pizza-builder__item .pizza-builder__check-img {
  height: 200px;
}

.pizza-builder__check-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 12px;
  font: 24px 'Abril Fatface';
  color: #fdbc2c;
}

.pizza-builder__check-description {
  display: block;
  margin-bottom: 17px;
  font-size: 14px;
}

.pizza-builder__item .pizza-builder__check-price {
  margin-bottom: 14px;
  display: block;
  font: 24px 'Fredericka the Great';
  color: #D94F2B;
}

.dropdown-toggle {
  background: none;
  border: 1px solid #fff;
  padding: 3px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  transition: all 0.3s;

  &:hover {
    border-color: #fdbc2c;
  }
}

.dropdown-item {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.add-button {
  padding: 4px 10px;
}
